doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/bootstrap.css')
    title BootstrapSOMExshellzHTML
  body
    h1 XshellZr0cKs
    //
    // script(src="")
    // scripts(src="https://unpkg.com/popper.js@latest/dist/umd/popper.min.js") //load the latest!
    // script(src="https://unpkg.com/@popperjs@core@2.4.0/dist/umd/popper.min.js")
    script(src="/node_modules/@popperjs/core/dist/umd/popper.js")
    script(src="js/bootstrap.js")  
    .alert.alert-dark(role='alert')
     | A simple dark alert&mdash;check it out!
    .container-md
      .row
        .col.3-sm
        p This
        .col.2-md
        p is a test
        .col.3-xl
        h3 This is it
        .p am i learning
    h1 button
    .btn.btn-outline-dark.btn-lg thisISaButton
    h2 buttonGroup 
      .btn.btn-group
      .btn.btn-dark.btn-sm first
      .btn.btn-dark.btn-sm second
      .btn.btn-dark.btn-sm 3
    h3 Cards und Panels with Shadows
      .row
        .col-sm-6.col-9
            .card.shadow-lg(style="width: 18rem;") this is a shodowCard-rock
            .card.body making history WITH words
            p what else
            .card.footer 
                .btn.btn-dark.btn.md pushMEnow
    h1 text formating
    .container-md
      .row
        .col-12
          .p this is it      